@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/signalr.min.js"></script>

    <script>

        $(document).ready(function () {

            var connection = new signalR.HubConnectionBuilder()
                .configureLogging(signalR.LogLevel.Debug)
                .withAutomaticReconnect([1000, 1000, 3000, 4000])
                .withUrl("https://localhost:44335/myhub")
                .build();

            function Start() {
                connection.start()
                    .then(() => {
                        StatusShow();
                        $("#loading").hide();

                        connection.invoke("GetMessages")
                    })
                    .catch(err => {
                        console.log(err);
                        setTimeout(() => Start(), 2000);
                    });
            }

            function StatusShow() {
                $("#connStatus").text(connection.connectionState);
            }

            StatusShow();
            Start();



            $("#btnSaveMessage").click(() => {

                //server tarafındaki methodları çağırmaya yarıyor.
                connection.invoke("SendMessage", $("#txtMessage").val())
                    .catch(err => console.log(err));
            });

            //methoda subscribe olabilmek için.
            connection.on("ReceiveMessage", (message) => {
                $("#messageList").append("<li class=\"list-group-item\">" + message + "</li>");
            });

            //bağlantı tekrar kurulmaya çalışıldığında
            connection.onreconnecting(err => {
                $("#loading").show();
                StatusShow();
                console.log("Hata:" + err);
            });

            //bağlantı kurulduğunda
            connection.onreconnected(connectionId => {
                $("#loading").hide();
                StatusShow();
                console.log(connectionId);
            });

            //bağlantı gittiğinde
            connection.onclose(() => {
                $("#loading").hide();
                StatusShow();
                Start();
            });

            connection.on("ReceiveClientCount", (clientCount) => {
                $("#clientCount").text(clientCount);
            });

            connection.on("Notify", (countText) => {
                $("#notify").html("<div class=\"alert alert-success\">Takımlar " + countText + " kişi olmalıdır.</div>");
            });

            connection.on("ReceiveMessages", (messages) => {
                $("#messageList").empty();

                messages.forEach((item, index) => {
                    $("#messageList").append("<li class=\"list-group-item\">" + item + "</li>")
                });
            });


            connection.on("Error", (errorText) => {
                alert(errorText);
            });
        });



    </script>
}

<div class="row">
    <div class="col-md-8 offset-2">

        <input type="text" id="txtMessage" class="form-control" />
        <hr />
        <button id="btnSaveMessage" class="btn btn-primary">Mesaj Kaydet</button>

        <div class="alert alert-info">
            <div class="float-left">
                Bağlantı Durumu:<strong id="connStatus"></strong>,
                Client Sayısı <strong id="clientCount"></strong>
            </div>
            <div class="float-right">
                <div id="loading" class="spinner-border" role="status">
                    <span class="sr-only">Loading....</span>
                </div>
            </div>

            <div class="clearfix"></div>

        </div>

        <div id="notify">

        </div>
    </div>

    <div class="col-md-8 offset-2">

        <ul id="messageList" class="list-group">
        </ul>
    </div>
</div>
